<div id="<%= dom_id locadora %>">
  <p>
    <strong>Nome do cliente:</strong>
    <%= locadora.nome %>
  </p>

  <p>
    <strong>Contato do cliente:</strong>
    <%= locadora.contato %>
  </p>

  <p>
    <strong>Endereco do cliente:</strong>
    <%= locadora.endereco %>
  </p>

  <p>
    <strong>Data de locacao:</strong>
    <%= locadora.data_de_locacao %>
  </p>

  <p>
    <strong>Data de devolucao:</strong>
    <%= locadora.data_de_devolucao %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= locadora.valor_total %>
  </p>
  
  <p>
    <strong>Nome:</strong>
    <%= locadora.filme.nome %>
  </p>
<p>
    <strong>Genero:</strong>
    <%= locadora.filme.genero %>
  </p>


</div>
